{% extends 'base.html.twig' %}

{% block title %}Importation{% endblock %}

{% block body %}
    <main class="form-signin w-100 m-auto">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }} alert alert-{{ label is same as("success")  ? label : "danger" }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(importForm) }}

        <h1 class="h3 mb-3 fw-normal">Importation</h1>
        <div class="form-control text-start">
            {{ form_widget(importForm.file) }}
            <label for="registration_form_email">{{ 'app.fichier.select'|trans}}</label>
            {{ form_errors(importForm.file ) }}
        </div>

        <button type="submit" class="mt-4 btn btn-lg btn-primary">Importer</button>

        {{ form_end(importForm) }}

    </main>

{% endblock %}
