.badge-danger{
  background-color: #dc3545;
  font-weight: 400;
}
input.form-control, textarea.form-control{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}